.header {
    position: relative;
    padding: 24px 0px;
    > div {
        display: flex;
        justify-content: space-between;
    }
}
.list {
    display: flex;
    gap: 30px;
    @media (max-width: 467.98px) {
        gap: 20px;
    }
}
.shape {
    pointer-events: none;
    position: absolute;
    top: 0;
    right: 0;
}
